* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

hr {
    border: 1px solid black;
}

#deletetext, #deletedisclaimer {
    color: white;
    background-color: red;
    border: 1px solid orange;
}

#deletetext:hover, #deletedisclaimer:hover {
    background-color: orange;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}