* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

hr {
    border: 1px solid black;
}

.dm {
    color: white;
    background-color: darkblue;
    border: 2px solid darkblue;
}

.dm:hover {
    color: darkblue;
    background-color: white;
}

.delete {
    color: white;
    background-color: red;
    border: 1px solid orange;
}

.delete:hover {
    background-color: orange;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}